{% extends 'blog/base.html' %}
{% block content %}
    <div class="container" style="background: white; padding: 20px; margin-top: 10px; border-radius: 20px; justify-content: center;width:150%;">
        <h1>About us<hr></h1>
        <p>Hello! I'm [Your Name], the voice behind this blog. I'm passionate about [your interests or hobbies, e.g., travel, cooking, technology], and I created this space to share my experiences, thoughts, and adventures with you.

            Whether I'm exploring new places, experimenting with recipes, or diving into the latest tech trends, I love to document my journey and connect with like-minded individuals. This blog is a reflection of my curiosity and enthusiasm for life.
            
            Thank you for stopping by, and I hope you find something here that resonates with you. Let's embark on this journey together!</p>
    </div>
{% endblock content %}